body  {
  background-image: url(./tile.png);
   background-repeat: repeat;
  margin: auto;
  width: 640px;
}

input{
  background-color: rgb(255, 255, 255, 0.35);
  border: none;
  padding-left: 5px;
  font-size: 0.8em;
  font-weight: bold;
}
input:focus{
  outline-style: none;
}

#logo{
  margin-top: 25px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login{
  font-family: Verdana, sans-serif;
  width:100%;
  text-align: left;
  font-size: 0.8em;
  padding: 10px;
  background: rgb(27, 32, 41, 0.85);
  color: #fff;
  box-sizing: border-box;
}

#login i{
  padding-right:3px;
}

/* Block titles */
#login h8{
  letter-spacing: 4px;
  display: block;
  padding-bottom: 8px;
}
#login h8::first-letter{
  font-size:1.3em;
}
/* Block subtitles */
#login h9{
  font-size:0.6em;
  display: block;
  margin-top: -8px;
  padding-bottom: 8px;
}

#verFooter{
  color: white;
  font-size: 0.6em;
  opacity: 40%;
  bottom: 0px;
  position: fixed;
  /* No Select */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #0388fc;
}

#errortext{
  opacity: 0%;
  font-weight:bold;
  font-size: 0.8em;
  padding-left: 20%;
  /* No Select */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error{
  animation-name: error;
  animation-duration: 7s;
}
@keyframes error {
  0% { color: #ff0000; opacity: 100%;}
  100% { color: #b84d4d;}
  50% { color: #b84d4d; opacity: 100%;}
  100% { color: #b84d4d; opacity: 0%;}
}

#songtitle{
  font-family: Verdana, sans-serif;
  width:100%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  background: rgb(27, 32, 41, 0.85);
  color: #fff;
}


.playlistcontainer{
  width: 640px;
}

.playlist{
  overflow-y: scroll;
  height: 492px;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  color: white;
  font-family: sans-serif;
  min-width: 100%;
  position: relative;
}
.styled-table thead tr {
  position: sticky;
  top: 0;
  background-color: rgb(27, 32, 41, 0.85);
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  background-color: rgb(41, 41, 41, 0.7);
  border-bottom: 1px solid #292929;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: rgb(57, 57, 57, 0.7);
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #172c4e;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(54, 64, 82, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 64, 82);
}
