body  {
  background-image: url(./tile.png);
   background-repeat: repeat;
  margin: auto;
  width: 640px;
}


#songtitle{
  font-family: Verdana, sans-serif;
  width:100%;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  background: rgb(27, 32, 41, 0.85);
  color: #fff;
}


.playlistcontainer{
  width: 640px;
}

.playlist{
  overflow-y: scroll;
  height: 492px;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  color: white;
  font-family: sans-serif;
  min-width: 100%;
  position: relative;
}
.styled-table thead tr {
  position: sticky;
  top: 0;
  background-color: rgb(27, 32, 41, 0.85);
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  background-color: rgb(41, 41, 41, 0.7);
  border-bottom: 1px solid #292929;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: rgb(57, 57, 57, 0.7);
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #172c4e;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(54, 64, 82, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 64, 82);
}
